<div class="row">
    <div class="col-lg-12 control-section">
        <SfToast @ref="ToastObj" ID="toast_type">
            <ToastPosition X="@ToastPosition"></ToastPosition>
        </SfToast>
    </div>
</div>
@if (SmuSafetyPlanningFormPeopleProvideDistractionDataSource != null)
{
    <SfGrid @ref=@SmuSafetyPlanningFormPeopleProvideDistractionGrid TValue="SmuSafetyPlanningFormPeopleProvideDistraction"
            DataSource="SmuSafetyPlanningFormPeopleProvideDistractionDataSource" RowHeight="30"
            AllowSelection="true" AllowSorting="false" AllowGrouping="false" AllowPaging="false" AllowFiltering="false"
            AllowReordering="false" AllowResizing="true" GridLines="GridLine.Both" AllowTextWrap=true>
        <GridFilterSettings Type="Syncfusion.Blazor.Grids.FilterType.Excel"></GridFilterSettings>
        <GridPageSettings PageSizes="true"></GridPageSettings>
        <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Single"></GridSelectionSettings>
        <GridEvents TValue="SmuSafetyPlanningFormPeopleProvideDistraction" CellSaved="OnCellSaved"></GridEvents>
        <GridEditSettings AllowAdding="false" AllowEditing="true" AllowDeleting="false" Mode="Syncfusion.Blazor.Grids.EditMode.Batch" ShowConfirmDialog=false></GridEditSettings>

        <GridColumns>
            <GridColumn HeaderText="Step 3: People and social settings that provide distraction" TextAlign="TextAlign.Left">
                <GridColumns>
                    <GridColumn Field=@nameof(SmuSafetyPlanningFormPeopleProvideDistraction.PeopleProvideDistractionId) HeaderText="PeopleProvideDistractionId" AllowEditing="false" Visible=false IsPrimaryKey="true" Width="120"></GridColumn>
                    <GridColumn Field=@nameof(SmuSafetyPlanningFormPeopleProvideDistraction.PeopleProvideDistractionNo) HeaderText="S/N" AllowEditing="true" Visible="true" Width="30"></GridColumn>
                    <GridColumn Field=@nameof(SmuSafetyPlanningFormPeopleProvideDistraction.PeopleProvideDistractionName) HeaderText="Name" AllowEditing="true" Visible="true" Width="200"></GridColumn>
                    <GridColumn Field=@nameof(SmuSafetyPlanningFormPeopleProvideDistraction.PeopleProvideDistractionPhone) HeaderText="Contact" AllowEditing="true" Visible="true" Width="60"></GridColumn>
                    <GridColumn Field=@nameof(SmuSafetyPlanningFormPeopleProvideDistraction.PeopleProvideDistractionPlace) HeaderText="Address" AllowEditing="true" Visible="true" Width="60"></GridColumn>
                </GridColumns>
            </GridColumn>
        </GridColumns>
    </SfGrid>
}
@code {
    #region Toasters
    public static string? ToastContent { get; set; }
    SfToast? ToastObj;
    SfToast? DeleteToastObj;
    private string ToastPosition = "Right";
    private int AlarmTimeout { get; set; } = 120000;
    private List<ToastModel> Toast = new List<ToastModel>
    {
        new ToastModel{ Title = "Warning!", Content=ToastContent, CssClass="e-toast-warning", Icon="e-warning toast-icons" },
        new ToastModel{ Title = "Success!", Content=ToastContent, CssClass="e-toast-success", Icon="e-success toast-icons" },
        new ToastModel{ Title = "Error!", Content=ToastContent, CssClass="e-toast-danger", Icon="e-error toast-icons" },
        new ToastModel{ Title = "Information!", Content=ToastContent, CssClass="e-toast-info", Icon="e-info toast-icons" }
    };
    #endregion Toasters
    [Parameter]
    public int? SafetyPlanningFormId { get; set; }
    [Parameter]
    public EventCallback<List<SmuSafetyPlanningFormPeopleProvideDistraction>?> SmuSafetyPlanningFormPeopleProvideDistractionCallBack { get; set; }
    [Parameter]
    public List<SmuSafetyPlanningFormPeopleProvideDistraction>? SmuSafetyPlanningFormPeopleProvideDistractionData { get; set; }
    int? PreviousSafetyPlanningFormId { get; set; }
    private SfGrid<SmuSafetyPlanningFormPeopleProvideDistraction>? SmuSafetyPlanningFormPeopleProvideDistractionGrid;
    List<SmuSafetyPlanningFormPeopleProvideDistraction>? SmuSafetyPlanningFormPeopleProvideDistractionDataSource { get; set; }
    public async Task OnCellSaved(CellSaveArgs<SmuSafetyPlanningFormPeopleProvideDistraction> args)
    {
        if (args.Data.PeopleProvideDistractionName != null
            && args.Data.PeopleProvideDistractionPhone != null
            && args.Data.PeopleProvideDistractionPlace != null)
        {
            await this.SmuSafetyPlanningFormPeopleProvideDistractionGrid?.EndEditAsync();
            await SmuSafetyPlanningFormPeopleProvideDistractionCallBack.InvokeAsync(SmuSafetyPlanningFormPeopleProvideDistractionDataSource);
        }
    }
    public async Task<List<SmuSafetyPlanningFormPeopleProvideDistraction>?> returnData()
    {
        if (SmuSafetyPlanningFormPeopleProvideDistractionGrid != null)
        {
            await SmuSafetyPlanningFormPeopleProvideDistractionGrid.EndEditAsync();
        }
        return SmuSafetyPlanningFormPeopleProvideDistractionDataSource;
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            SmuSafetyPlanningFormPeopleProvideDistractionDataSource = new List<SmuSafetyPlanningFormPeopleProvideDistraction>();
            if (SmuSafetyPlanningFormPeopleProvideDistractionData != null && SmuSafetyPlanningFormPeopleProvideDistractionData.Count > 0)
            {
                SmuSafetyPlanningFormPeopleProvideDistractionDataSource.AddRange(SmuSafetyPlanningFormPeopleProvideDistractionData.OrderBy(o => o.PeopleProvideDistractionId).ToList());
                int count = -100;
                for (int i = 1; i <= 3; i++)
                {
                    SmuSafetyPlanningFormPeopleProvideDistractionDataSource.Add(new SmuSafetyPlanningFormPeopleProvideDistraction()
                        {
                            PeopleProvideDistractionId = count,
                            SafetyPlanningFormId = SafetyPlanningFormId,
                        });
                    count++;
                }
            }
            else
            {
                int count = -100;
                for (int i = 1; i <= 3; i++)
                {
                    SmuSafetyPlanningFormPeopleProvideDistractionDataSource.Add(new SmuSafetyPlanningFormPeopleProvideDistraction()
                        {
                            PeopleProvideDistractionId = count,
                            SafetyPlanningFormId = SafetyPlanningFormId,
                        });
                    count++;
                }
            }
            PreviousSafetyPlanningFormId = SafetyPlanningFormId;
        }
        catch (Exception ex)
        {
        }

    }
}
