@page "/test"
@using Syncfusion.Blazor.HeatMap

<div class="row">
    <div class="col-md-6">
        <div class="control-section" align='center'>
            <div class="control-section">
                <SfHeatMap DataSource="@HeatMapData">
                    <HeatMapTitleSettings Text="EAC Partner State Vs Trade Sector Intensity Heat Map(in Percentage)">
                        <HeatMapTitleTextStyle Size="15px" FontWeight="600" FontStyle="Italic" FontFamily="Segoe UI"></HeatMapTitleTextStyle>
                    </HeatMapTitleSettings>
                    <HeatMapXAxis Labels="@XAxisLabels"></HeatMapXAxis>
                    <HeatMapYAxis Labels="@YAxisLabels"></HeatMapYAxis>
                    <HeatMapPaletteSettings Type="PaletteType.Gradient">
                        <HeatMapPalettes>
                            <HeatMapPalette Color="#F0D6AD"></HeatMapPalette>
                            <HeatMapPalette Color="#9da49a"></HeatMapPalette>
                            <HeatMapPalette Color="#d7c7a7"></HeatMapPalette>
                            <HeatMapPalette Color="#6e888f"></HeatMapPalette>
                            <HeatMapPalette Color="#466f86"></HeatMapPalette>
                            <HeatMapPalette Color="#19547B"></HeatMapPalette>
                        </HeatMapPalettes>
                    </HeatMapPaletteSettings>
                </SfHeatMap>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="control-section" align='center'>
            <div class="control-section">
            </div>
        </div>
    </div>
</div>


@code {
    double[,] GetDefaultData()
    {
        double[,] dataSource = new double[6, 7]
            {
                {95, 22, 42, 82, 50, 32, 54},
                {43, 89, 10, 65, 51, 62, 76},
                {39, 27, 25, 37, 26, 51, 58},
                {24, 37, 41, 60, 50, 24, 33},
                {20, 70, 41, 89, 27, 59, 56},
                {54, 11, 69, 45, 29, 34, 15}
            };
        return dataSource;
    }
    string[] XAxisLabels = new string[] { "Business", "Communications", "Education", "Financial", "Tourism and Travel", "Transport" };
    string[] YAxisLabels = new string[] { "Uganda", "Kenya", "Tanzania", "Congo", "Rwanda", "Burundi", "South Sudan"};
    public object HeatMapData { get; set; }
    protected override void OnInitialized()
    {
        HeatMapData = GetDefaultData();
    }
}
