@page "/chart_pie"
@using Syncfusion.Blazor
@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Inputs
@inject NavigationManager NavigationManager
<div class="col-md-6">
    <div class="control-section" align='center'>
        <div class="control-section">
            <SfAccumulationChart EnableBorderOnMouseMove="false" Title="Proportion of export value contributed by each of the top ten products from EAC" EnableAnimation="true">
                <AccumulationChartTooltipSettings Header="" Format="<b>${point.x}</b><br>Proportion of export: <b>${point.y}%</b>" Enable="true"></AccumulationChartTooltipSettings>
                <AccumulationChartLegendSettings Visible="false"></AccumulationChartLegendSettings>
                <AccumulationChartSeriesCollection>
                    <AccumulationChartSeries DataSource="@PieChartPoints" XName="Browser" YName="Users" Radius="@Radius" Name="Browser" StartAngle="@StartAngle"
                                             InnerRadius="0%" ExplodeIndex="0" Explode="true" ExplodeOffset="@ExplodeRadius">
                        <AccumulationDataLabelSettings Visible="true" Name="DataLabelMappingName" Position="AccumulationLabelPosition.Outside">
                            <AccumulationChartDataLabelFont Size=@Size FontWeight="600"></AccumulationChartDataLabelFont>
                            <AccumulationChartConnector Length=@ConnectorLength Type="ConnectorType.Curve"></AccumulationChartConnector>
                        </AccumulationDataLabelSettings>
                    </AccumulationChartSeries>
                </AccumulationChartSeriesCollection>
            </SfAccumulationChart>
        </div>
    </div>
</div>

@code {
    
    public int ExplodeIndex { get; set; } = 1;
    public string ExplodeRadius = "10%";
    public string Radius { get; set; } = "90%";
    public string ConnectorLength { get; set; } = "20px";
    public int StartAngle = 30;
    public string Size { get; set; } = "12px";
    public List<PieData> PieChartPoints { get; set; } = new List<PieData>
    {
        new PieData { Browser = "Labour", Users = 59.28, DataLabelMappingName = "Labour: 39.28%"},
        new PieData { Browser = "Agricultural", Users = 4.37, DataLabelMappingName = "Agricultural: 4.37%"},
        new PieData { Browser = "Electronics", Users = 6.12, DataLabelMappingName = "Electronics: 6.12%"},
        new PieData { Browser = "Industrial", Users = 1.37, DataLabelMappingName = "Industrial: 1.37%"},
        new PieData { Browser = "Automotive", Users = 3.96, DataLabelMappingName = "Automotive: 3.96%"},
        new PieData { Browser = "Health and Household", Users = 4.73, DataLabelMappingName = "Health and Household: 4.73%"},
        new PieData { Browser = "Music and Movies", Users = 3.12, DataLabelMappingName = "Music and Movies: 3.12%"},
        new PieData { Browser = "Software", Users = 7.48, DataLabelMappingName = "Software: 7.48%"},
        new PieData { Browser = "Sports and Outdoors", Users = 20, DataLabelMappingName = "Sports and Outdoors: 20%"},
        new PieData { Browser = "Others", Users = 9.57, DataLabelMappingName = "Others: 9.57%"},
    };
    protected override void OnInitialized()
    {
        //Theme = ThemeHelper.GetCurrentTheme(NavigationManager.Uri);
        //if (SampleService.IsDevice)
        //{
            //StartAngle = 90;
            //Radius = "40%";
            //PieChartPoints.RemoveRange(1, 4);
            //PieChartPoints[4].Users = 25.39;
            //PieChartPoints[1].DataLabelMappingName = "Safari<br> 4.73%";
            //PieChartPoints[4].DataLabelMappingName = "Others: 25.39%";
            //ConnectorLength = "10px";
            //Size = "8px";
       // }
    }
    public class PieData
    {
        public string Browser { get; set; }
        public double Users { get; set; }
        public string DataLabelMappingName { get; set; }
    }
}