.e-menu-wrapper, .e-menu-container {
    background-color: black;
    min-width: 100%;
    position: fixed !important;
    z-index: 890;
}
    .e-menu-wrapper ul .e-menu-item.e-menu-caret-icon, .e-menu-container ul .e-menu-item.e-menu-caret-icon {
        padding-right: 30px;
            color: ghostwhite;
            font-family: 'Roboto', 'Roboto Condensed' !important;
        font-size: large;
    }
.e-contextmenu-wrapper.e-sfcontextmenu ul, .e-contextmenu-container.e-sfcontextmenu ul {
    white-space: nowrap;
    background-color: black;
        color: ghostwhite;
}
.e-menu-wrapper .e-ul .e-menu-item .e-menu-url, .e-menu-container .e-ul .e-menu-item .e-menu-url {
        color: ghostwhite;
        font-family: 'Roboto', 'Roboto Condensed' !important;
    font-size: large;
    /* background-color: black; */
}
.e-contextmenu-wrapper ul.e-ul, .e-contextmenu-wrapper ul.e-ul *, .e-contextmenu-container ul.e-ul, .e-contextmenu-container ul.e-ul *:hover {
    color: #96CFF0;
    background-color:black;
}
.e-menu-wrapper .e-ul .e-menu-item.e-focused, .e-menu-container .e-ul .e-menu-item.e-focused {
    background-color: black;
    color: #96CFF0;
    outline: 0 solid rgba(0,0,0,0.12);
    outline-offset: 0;
}
.e-menu-wrapper ul .e-menu-item.e-focused .e-caret, .e-menu-container ul .e-menu-item.e-focused .e-caret {
    color: #96CFF0;
}
.e-menu-wrapper .e-ul .e-menu-item .e-caret, .e-menu-container .e-ul .e-menu-item .e-caret {
    font-size: 11px;
        color: ghostwhite;
}
.e-menu-wrapper ul .e-menu-item .e-caret, .e-menu-container ul .e-menu-item .e-caret {
        color: ghostwhite;
}
.e-menu-wrapper .e-ul .e-menu-item.e-selected, .e-menu-container .e-ul .e-menu-item.e-selected {
    background-color: #96CFF0;
    color: rgba(0,0,0,0.87);
    outline: 0 solid #eee;
    outline-offset: 0;
}
.e-menu-wrapper ul .e-menu-item.e-selected, .e-menu-container ul .e-menu-item.e-selected {
    color: rgba(0,0,0,0.87);
    outline: 0 solid #e0e0e0;
    outline-offset: 0;
    background-color: #96CFF0;
}
.e-menu-wraper ul .e-menu-item.e-forcused, .e-menu-container ul .e-menu-item.e-focused {
    color: #96CFF0;
    outline: 0 solid #e0e0e0;
    outline-offset: 0;
    background-color: rgba(0,0,0,0.87);
}
@media (min-width: 992px) {
    
    li#LoginMenu.e-menu-item.e-menu-caret-icon {
        float: right;
    }
}
.e-menu-wrapper ul.e-menu .e-menu-item .e-menu-icon, .e-menu-container ul.e-menu .e-menu-item .e-menu-icon {
    width: 24px;
        color: ghostwhite;
    transform: scale(1.2);
    vertical-align: top;
}

.e-menu-wrapper ul .e-menu-item.e-selected .e-menu-icon, .e-menu-container ul .e-menu-item.e-selected .e-menu-icon {
    color: #96CFF0;
}

.e-menu-wrapper .e-ul .e-menu-item .e-menu-icon, .e-menu-container .e-ul .e-menu-item .e-menu-icon {
    /*font-size: 14px;
    line-height: 36px;
    margin-right: 10px;
    width: 1em;*/
        color: ghostwhite;
}

.e-menu-wrapper ul .e-menu-item.e-focused .e-menu-icon, .e-menu-container ul .e-menu-item.e-focused .e-menu-icon {
    color: #96CFF0;
}
.e-menu-wrapper ul .e-menu-item.e-selected .e-menu-icon, .e-menu-container ul .e-menu-item.e-selected .e-menu-icon {
    color: rgba(0,0,0,0.87);
}
.e-menu-wrapper ul .e-menu-item .e-menu-url, .e-menu-container ul .e-menu-item .e-menu-url {
        color: ghostwhite;
        font-family: 'Roboto', 'Roboto Condensed' !important;
    font-size: large;
}
.e-menu-wrapper ul .e-menu-item.e-selected .e-menu-url, .e-menu-container ul .e-menu-item.e-selected .e-menu-url {
    color: rgba(0,0,0,0.87);
        font-family: 'Roboto', 'Roboto Condensed' !important;
    font-size: large;
}
.e-menu-wrapper ul.e-menu:not(.e-vertical), .e-menu-container ul.e-menu:not(.e-vertical) {
    padding: 0;
    min-width: 99%;
}
.e-menu-wrapper .e-ul .e-menu-item.e-separator, .e-menu-container .e-ul .e-menu-item.e-separator {
    border-bottom-color: ghostwhite;
}

.e-dialog .e-footer-content .e-btn {
    margin-left: 6px;
    padding: 10px;
    font-size: 14px;
}
.breadcrumb-item.active {
    width: 100%;
    background-color: bisque;
    color: brown;
        font-family: 'Roboto', 'Roboto Condensed' !important;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    font: bolder;
}

.e-edit-dialog {
    max-height: 98%;
    max-width: 96%;
    /*min-width: 70%;*/
    /*min-height: auto;*/
}
.e-float-input, .e-float-input.e-control-wrapper, .e-float-input.e-disabled, .e-float-input.e-control-wrapper.e-disabled, .e-float-input.e-input-group.e-disabled, .e-float-input.e-input-group.e-control-wrapper.e-disabled {
    font-family: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
    font-size: 16px;
    font-weight: 400;
}

    .e-float-input input:focus ~ label.e-float-text, .e-float-input input:valid ~ label.e-float-text, .e-float-input input ~ label.e-label-top.e-float-text, .e-float-input input[readonly] ~ label.e-label-top.e-float-text, .e-float-input input[disabled] ~ label.e-label-top.e-float-text, .e-float-input input label.e-float-text.e-label-top, .e-float-input.e-control-wrapper input:focus ~ label.e-float-text, .e-float-input.e-control-wrapper input:valid ~ label.e-float-text, .e-float-input.e-control-wrapper input ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper input[readonly] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper input[disabled] ~ label.e-label-top.e-float-text, .e-float-input.e-control-wrapper input label.e-float-text.e-label-top, .e-float-input.e-control-wrapper.e-input-focus input ~ label.e-float-text, .e-float-input.e-input-focus input ~ label.e-float-text {
        font-size: 16px;
        top: -9px;
        transform: translate3d(0, -6px, 0) scale(0.92);
    }
.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop) {
        color: ghostwhite;
}
/*Edit dialog pop ups*/
/*Change color of dialog template*/
.e-dialog.e-control.e-popup, .e-dialog.e-control.e-popup .e-dlg-header-content {
    background-color: black;
}

.e-dialog .e-btn .e-btn-icon.e-icon-dlg-close {
    font-size: 12px;
    width: auto;
        color: ghostwhite;
}

.e-grid .e-headercell {
        color: ghostwhite;
    background-color: black;
        font-family: 'Roboto', 'Roboto Condensed' !important;
    font-weight: 700;
    font-size: 20px;
}

.e-dialog.e-control.e-popup {
    padding: 3px;
}
/*Change color color-profile Edit form Add Header*/
.e-dlg-header, .e-dlg-header * {
        color: ghostwhite;
    font-size: 16px;
    font-weight: 500;
}

div.e-control-container .e-control-wrapper .e-multi-line-input .e-float-input .valid {
    font-size: 16px;
}
/*styling thead accordion header*/
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header,
.e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header,
.e-accordion .e-acrdn-item.e-select > .e-acrdn-header,
.e-accordion .e-acrdn-item.e-select.e-selected > .e-acrdn-header,
.e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header:focus,
.e-accordion .e-acrdn-item.e-expand-state.e-select:not(.e-selected) > .e-acrdn-header:focus {
    background-color: black;
}

    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item.e-select > .e-acrdn-header:hover,
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header > .e-toggle-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header > .e-toggle-icon,
    .e-accordion .e-acrdn-item .e-toggle-icon {
        color: #96CFF0;
        font-size: 20px;
            font-family: 'Roboto', 'Roboto Condensed' !important;
    }

.Imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 50%;*/
}

.e-grid .e-unboundcelldiv {
    /* margin: 0 -3.5px; */
    width: 100%;
}

    .e-grid .e-unboundcelldiv .e-icons {
        color: white;
        width: 100%;
        background-color: black;
        padding-bottom: 12px;
    }
.e-edit-dialog .e-gridform .e-table {
    border-collapse: separate;
    border-spacing: 0px;
    width: 100%;
}
p {
    font-size: 16px;
        font-family: 'Roboto', 'Roboto Condensed' !important;
}
.SpinnerClass{
    float:left;
}
.e-treeview .e-list-item.e-active > .e-fullrow {
    background-color: black;
    border-color: #96CFF0;
}
.e-treeview .e-list-item.e-active > .e-text-content {
    color: ghostwhite;
}
    .e-treeview .e-list-item.e-active > .e-text-content .e-list-text {
        color: ghostwhite;
        font-family: 'Roboto', 'Roboto Condensed' !important;
        font-size:16px;
    }
.e-treeview .e-list-icon + .e-list-text, .e-treeview .e-list-img + .e-list-text {
    padding: 0 10px;
    font-family: 'Roboto', 'Roboto Condensed' !important;
    font-size: 16px;
}
span.e-headertext{
    text-align:left;
}
h4 {
    color: ghostwhite;
    background-color: black;
    padding: 5px;
    font-family: 'Roboto', 'Roboto Condensed' !important;
}

h5 {
    background-color: #96CFF0;
    font-family: 'Roboto', 'Roboto Condensed' !important;
    padding: 5px;
}

.e-grid .e-gridheader .e-sortfilter .e-rightalign .e-headercelldiv, .e-grid .e-gridheader .e-rightalign .e-stackedheadercelldiv {
    padding: 0 0 0 0;
    float: left;
}
.e-menu-wrapper .e-menu .e-menu-item .e-menu-url, .e-menu-container .e-menu .e-menu-item .e-menu-url {
    color: ghostwhite;
}
.e-menu-wrapper .e-menu .e-menu-item.e-focused, .e-menu-container .e-menu .e-menu-item.e-focused {
    color: black;
}
.e-menu-wrapper .e-menu .e-menu-item .e-caret, .e-menu-container .e-menu .e-menu-item .e-caret {
    color: ghostwhite;
}



/*.e-grid {
    border-radius: 0;
    border-style: none solid solid;
    border-width: 1px;
    display: block;
    font-family: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
    font-size: 13px;
    height: auto;
    position: absolute;
    max-width: 99%;
}*/
.e-edit-dialog {
    max-height: 98%;
    max-width: 100%;
    /*min-width: 85%;
    min-height: 70vh;*/
}

.e-tab .e-tab-header.e-vertical {
    max-width: 40%;
    z-index: 1;
}
.e-input-group, .e-input-group.e-control-wrapper, .e-float-input, .e-float-input.e-input-group, .e-float-input.e-control-wrapper, .e-float-input.e-input-group.e-control-wrapper {
    background: transparent;
    color: red;
}
.e-multi-select-wrapper .e-delim-values {
    -webkit-text-fill-color: red;
    color: red;
}

@media screen and (max-width: 800px) {
    /*div.example {
        display: none;
    }*/
    .e-menu-wrapper, .e-menu-container {
        border: 0;
        display: none;
        position: relative;
    }

        .e-menu-wrapper.e-hamburger, .e-menu-container.e-hamburger {
            border: 0;
            display: block;
            position: relative;
        }
}

@media screen and (min-width: 800px) {
    /*div.example {
        display: none;
    }*/
    .e-menu-wrapper, .e-menu-container {
        border: 0;
        display: block;
        /*position: relative;*/
    }

        .e-menu-wrapper.e-hamburger, .e-menu-container.e-hamburger {
            border: 0;
            display: none;
            position: relative;
        }
}


/*.e-grid {
    border-radius: 0;
    border-style: none solid solid;
    border-width: 1px;
    display: block;
    font-family: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
    font-size: 13px;
    min-height: 20vh;
    height: auto;
    position: relative;
    overflow-x: auto;
    max-width: 1500px;*/
    /*width: 100%;*/
/*}*/

.e-grid {
    border-radius: 0;
    border-style: none solid solid;
    border-width: 1px;
    display: block;
    font-family: "Roboto","Segoe UI","GeezaPro","DejaVu Serif","sans-serif","-apple-system","BlinkMacSystemFont";
    font-size: 13px;
    height: auto;
    position: relative;
}

.e-menu-wrapper.e-hamburger .e-menu-header .e-menu-icon, .e-menu-container.e-hamburger .e-menu-header .e-menu-icon {
    color: ghostwhite;
}
.e-menu-wrapper .e-menu-header .e-menu-title, .e-menu-wrapper .e-menu-header .e-menu-icon, .e-menu-container .e-menu-header .e-menu-title, .e-menu-container .e-menu-header .e-menu-icon {
    display: inline-block;
    line-height: inherit;
    color: ghostwhite;
}
.e-grid .e-unboundcelldiv .e-icons:not(.e-btn-icon) {
    color: ghostwhite;
}
.e-grid .e-gridheader .e-icons:not(.e-icon-hide):not(.e-check):not(.e-stop):not(.e-icon-reorderuparrow):not(.e-icon-reorderdownarrow) {
    color: ghostwhite;
}