@*<h3>BreadCrumbPage</h3>*@

<ol class="breadcrumb" style="margin-top:5px;">
    <li class="breadcrumb-item active" style="width: 100%; background-color: #808285; color: rgb(89, 24, 35); font-family: Cambria;
padding-top: 2px; padding-left: 5px; padding-right: 5px; font: bolder;">
        @*<strong> Aptitude Tests </strong>*@
        <SfBreadcrumb>
            <BreadcrumbItems>
                <BreadcrumbItem Url="" Disabled=true>
                    <img src="@JMSLogo" alt="@JMSLogoName" style="width:80px;" />
                </BreadcrumbItem>
                @if (!string.IsNullOrEmpty(CategoryName))
                {
                    <BreadcrumbItem Text="@CategoryName" Url="" Disabled=true></BreadcrumbItem>
                }
                <BreadcrumbItem Text="@PageName" Url="" Disabled=true></BreadcrumbItem>
            </BreadcrumbItems>
        </SfBreadcrumb>
    </li>
</ol>

@code {
    [Parameter]
    public string? CategoryName { get; set; }
    [Parameter]
    public string? PageName { get; set; }

    private string? JMSLogo { get; set; }
    private string? JMSLogoName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //var images = await rep.GetLocalLogos();
        //if (images != null && images.Count > 0)
        //{
        //    var JMS = images.FirstOrDefault(o => o.ImageName.Contains("jmslogo"));
        //    if (JMS != null)
        //    {
        //        JMSLogo = JMS.ImageString;
        //        JMSLogoName = JMS.ImageName;
        //    }
        //}

    }
}
<style>

    .e-breadcrumb.e-disabled .e-breadcrumb-item .e-breadcrumb-text, .e-breadcrumb .e-disabled.e-breadcrumb-item .e-breadcrumb-text, .e-breadcrumb.e-disabled .e-breadcrumb-separator {
        color: ghostwhite;
        font-family: Cambria;
        font: bolder;
        font-size: 16px;
    }

    .Companylogo {
        background-image: url('images/jms_logo2.webp');
    }
</style>

